body{
    margin: 0;
    padding: 0%;
}
header{
    background-color: #8fc6e0;
    color: white;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid #000;
    height: 60px;
    text-align: center;
    position: sticky;
    top: 0;
    scroll-behavior: smooth;
}

h2 {
    text-align: center;
    background-color: #8fc6e0;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 2px solid #000;
    height: 40px;
    padding-top: 10px;
}

#statistics{
    margin-top: 0;
    text-align: center;
    background-color: #8fc6e0;
    color: white;
    position: relative;
    z-index: 0;
    padding-top: 10px;
    height: 550px;
    margin: 0;
}

#fact-one,
#fact-two,
#fact-three{
    background-color: black;
    color: whitesmoke;
    width: 400px;
    text-align: center;
    padding-top: 190px;
    padding-bottom: 200px;
    top: -500px;
    z-index: 10;
    position: relative;
    margin-left: 50px;
    margin-bottom: 0;
}

#one-back,
#two-back,
#three-back{
    background-color: aliceblue;
    width: 400px;
    padding-top: 190px;
    padding-bottom: 200px;
    position: relative;
    z-index: 5px;
    margin-left: 35px;
    margin-bottom: 0;
    top: -889px;
}

#fact-two{
    top: -1330px;
    left: 493px;
}

#two-back{
    margin-left: 528px;
    top:-1720px;
}

#fact-three{
    top: -2160px;
    left: 953px;
}

#three-back{
    margin-left: 985px;
    top: -2550px;
}